body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: black;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-block {
  display: flex;
  overflow-y: auto;
}

.control-chart-block {
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.sunburst-chart-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-block {
  flex: 1;
  overflow: auto;
  max-height: 100vh;
}

.chart {
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.fullscreen-enabled {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  /*padding: 0;*/
  /*margin: 0;*/
  /*box-sizing: border-box;*/
  margin: 20px;
}


