body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: black;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-block {
  display: flex;
  overflow-y: auto;
}

.control-chart-block {
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.sunburst-chart-block {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-block {
  flex: 1;
  overflow: auto;
  max-height: 100vh;
}

.chart {
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.fullscreen-enabled {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  /*padding: 0;*/
  /*margin: 0;*/
  /*box-sizing: border-box;*/
  margin: 20px;
}

.print-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.tooltip {
  font-size: 14px;
  position: absolute;
  background: rgba(255, 255, 255, .85);
  padding: 5px;
  /*display: none;*/
  border-radius: 8px;
  border: 1px solid black;
  transition: all 100ms ease-in-out;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.tooltip span {
  font-weight: 500;
}

.slider-tooltip {

}